body{
    background-color: grey;
   
}
.section{
   
    border-radius: 10px;
    padding-left: 2%;
}
li{
  
    display: inline;
    padding: 2px;
    border: 1px;
   

    
}
h2{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border:1px solid black;
    border-radius: 2px;

}
span{
    color:red;
}
